<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernoulli</title>
    <script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css')}}">
</head>
<script >

function fact(n)

{ f=1;

for (i=1;i <n+1; i++) { f=f*i };

return f }

function bin()

{ k=parseInt(document.datos.k.value);

n=parseInt(document.datos.n.value);

p=parseFloat(document.datos.p.value);

document.datos.prob.value= fact(n)/(fact(n-k)*fact(k))*Math.pow(p,k)*Math.pow(1-p,n-k); }

</script>

</head>

<body text=green bgcolor=white>

<div class="topnav">
    <a class="active" href="{{ url_for('principal')}}">Inicio</a>
    <a href="{{ url_for('poisson')}}">Poisson</a>
    <a href="{{ url_for('binomial')}}">Bernoulli</a>
    <a href="{{ url_for('inversa')}}">Tranformada Inversa</a>
</div>
<br>
Probabilidad P(x=k) en una distribución binomial B(n,p).<BR><HR>

<form name="datos">

n=<input type="text" name="n" size="3">

p=<input type="text" name="p" size="3">

k=<input type="text" name="k" size="3"><BR><BR><HR>

<input type="button" value="Calcular" onClick="bin()">

Probabilidad _______ P(x=k) =<input type="text" name="prob">

</form>
<article>
    <canvas id="myChart" width="400" height="400"></canvas>
</article>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Desicion',],
            datasets: [{
                label: 'Inventarios',
                data: [0.75],
                backgroundColor: [
                    'rgba(66, 134, 244, 0.2)',
                    'rgba(74, 135, 72, 0.2)',
                    'rgba(229, 89, 50, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>

</html>