<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poisson</title>
    <script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='js/inversa.js')}}"></script>
    <!-- <script src="js/inversa.js"></script> -->
    <!-- <link rel="stylesheet" href="css/Chart.css">
    <link rel="stylesheet" href="css/body.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css')}}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('principal')}}">Inicio</a>
        <a href="{{ url_for('poisson')}}">Poisson</a>
        <a href="{{ url_for('binomial')}}">Bernoulli</a>
        <a href="{{ url_for('inversa')}}">Tranformada Inversa</a>
    </div>
    <br>
    <article>
        <form action="">
            <label for="">Distribucion 1</label>
            <input type="text" placeholder="varA" id="fA">
            /
            <input type="text" placeholder="varB" id="fB">
            <br>
            <label for="">Distribucion 2</label>
            <input type="text" placeholder="varC" id="fA">
            /
            <input type="text" placeholder="varD" id="fA">
            <br>
            <button type="button" onclick="miFuncion();">Graficar</button>
        </form>
    </article>
    <div class="myChart">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <p id="demo"></p>
</body>
</html>