<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversa</title>
    <script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='js/inversa.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css')}}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('principal')}}">Inicio</a>
        <a href="{{ url_for('poisson')}}">Poisson</a>
        <a href="{{ url_for('binomial')}}">Bernoulli</a>
        <a href="{{ url_for('inversa')}}">Simulacion</a>
    </div>
    <br>
<!-- form -->
        <form class="form-inline" action="{{url_for('inversa_resultado')}}" method="post">
            <div class="form-group">
                <div class="col">
                    <input type="text" class="form-control" name="cantidadmeses" placeholder="Cantidad Meses"></input>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="input1" placeholder="Inventario Inicial"></input>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="input2" placeholder="Cantidad Optima"></input>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="input3" placeholder="Reorden"></input>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Simulacion"></input>
                </div>
            </div>
        </form>
<!-- end form -->
        <article>
        <br>
        <table id="Table_id" class="table table-dark">
            <tr>
              <th>Mes</th>
              <th>Inventario Inicial</th> 
              <th>Numero Aleatorio</th>
              <th>Demanda ajustada</th>
              <th>Inventario Final</th>
              <th>Faltante</th>
              <th>Orden</th>
              <th>Inventario mensual promedio</th>
            </tr>
            <tr>
              <td>
                {% for x in numeracion %}
                {{ x }} <br>
                {% endfor %}
              </td>
              <!-- InventarioInicial -->
              <td>
                {% for x in n_bins %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <!-- Numeros Aleatorios -->
              <td>
                {% for x in resinv %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <td>
                {% for x in demandaAjustada %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <!-- inventario final -->
              <td>
                {% for x in inventariofinal %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <!-- faltante -->
              <td>
                {% for x in faltante %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <td>
                {% for x in orden %}
                  {{ x }} <br>
                {% endfor %}
              </td>
              <td>
                {% for x in inventarioPromedio %}
                  {{ x }} <br>
                {% endfor %}
              </td>
            </tr>
          </table>
    </article>
    <br>
    <article>
      <!-- form -->
        <form class="form-inline" action="{{url_for('resultado_costos')}}" method="post">
            <div class="form-group">
                <div class="col">
                    <input type="text" class="form-control" name="costoOrdenar" placeholder="Costo de Ordenar"></input>
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="costoFaltante" placeholder="Costo de Faltante"></input>
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="costoInventario" placeholder="Costo de Inventario"></input>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Simulacion Costos"></input>
                </div>
            </div>
        </form>
      <!-- end form -->
      </article>
      <br>
      <article>
        <table id="Table_id" class="table table-dark">
          <tr>
            <th>Costo Ordenar</th>
            <th>Costo Faltante</th> 
            <th>Costo Inventario</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>
              {{ contadorAuxiliar }}
            </td>
            <td>
              {{ costoFaltante }}
            </td>
            <td>
              {{ costoInventario }}
            </td>
            <td>
              {{ totalfinal }}
            </td>
          </tr>
          </table>
        </article>
    <article>
        <canvas id="myChart" width="400" height="400"></canvas>
    </article>
    <article>
      <canvas id="myChart2" width="400" height="400"></canvas>
  </article>
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Mes1', 'Mes2', 'Mes3', 'Mes4', 'Mes5', 'Mes6', 'Mes7', 'Mes8', 'Mes9', 'Mes10', 'Mes11', 'Mes12'],
                datasets: [
                  {
                    label: 'Inventario Promedio',
                    data: [{% for x in inventarioPromedio %}
                            "{{ x }}",
                            {% endfor %}],
                            backgroundColor: [
                            "#20872D",
                            "#EFE33A",
                            "#3AA1EF",
                            "#1510BC",
                            "#E51DDE",
                            "#115F08",
                            "#D7552D",
                            "#2D55D7"
                            ],
                  },
                ]
            },
            options: {
              title: {
                display: true,
                text: 'Grafica Inventario Promedio',
                fontSize: 30,
                padding: 30,
                fontColor: '#12619c',
              },
              elements: {
                line: {
                  borderWidth: 8,
                  fill: false,
                },
                point: {
                  radius: 6,
                  borderWidth: 4,
                  backgroundColor: 'black',
                  hoverRadius: 8,
                  hoverBorderWidth: 4,
                },
              },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mes1', 'Mes2', 'Mes3', 'Mes4', 'Mes5', 'Mes6', 'Mes7', 'Mes8', 'Mes9', 'Mes10', 'Mes11', 'Mes12'],
                datasets: [
                    {
                    label: 'Inventarios inicial',
                    data: [{% for x in n_bins %}
                            "{{ x }}",
                           {% endfor %}],
                    backgroundColor: [
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                      "#166B2D",
                    ],
                },
                {
                    label: 'Inventario Promedio',
                    data: [{% for x in inventarioPromedio %}
                            "{{ x }}",
                            {% endfor %}],
                    backgroundColor: [
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                      "#3834C1",
                    ],
                },
            ]
        },
            options: {
              title: {
                display: true,
                text: 'Grafica Inventario Inicial y Inventario Promedio',
                fontSize: 30,
                padding: 30,
                fontColor: '#12619c',
              },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <br>
    <article>
      <a href="{{ url_for( 'reporte_pdf' ) }}" class="btn btn-dark btn-lg">Imprimir Grafica de simulacion</a>
    </article>
    <br>
</body>
</html>